In [2]:
a=5;
b=6;
c=7;
d=7;
e=9;
f=11;
x=12;
y=12;
h=0;
if c == d :
    if x == y :
        g = h
        print(g)
    elif a == b :
        g = h
        print(g)
    else :
        e = f
        print(e)
else :
        e = f
        print(e)

0

In [14]:
arr = ["Ali","Haider","Salman",25,"false",0.9]
print("welcome"+" "+ arr[0]+" and   "+arr[1])

welcome Ali and   Haider

In [43]:
arr.remove("Salman")
print(arr)

['Ali', 'Raza', 25, 'false', 0.9]

In [45]:
arr = ["Ali","Haider","Salman",25,"false",0.9]
arr.append("umer")
print(arr)

['Ali', 'Haider', 'Salman', 25, 'false', 0.9, 'umer']

In [29]:
arr = ["Ali","Haider","Salman",25,"false",0.9]
arr1=arr+["Faraza","Ahmed"]
print(arr1)

['Ali', 'Haider', 'Salman', 25, 'false', 0.9, 'Faraza', 'Ahmed']

In [31]:
arr1.insert(2,"Raza")
print(arr1)

['Ali', 'Haider', 'Raza', 'Salman', 25, 'false', 0.9, 'Faraza', 'Ahmed']

In [7]:
arr1 = ['Ali', 'Haider', 'Raza', 'Salman', 25, 'false', 0.9, 'Faraza', 'Ahmed']

arr1.insert(1,arr1.pop(0))
print(arr1)

['Haider', 'Ali', 'Raza', 'Salman', 25, 'false', 0.9, 'Faraza', 'Ahmed']

In [11]:
arr = ['Ali', 'Haider', 'Raza', 'Salman', 25, 'false', 0.9, 'Faraza', 'Ahmed']

arr1=arr.pop()
print(arr1)

Ahmed

In [12]:
arr = ['Ali', 'Haider', 'Raza', 'Salman', 25, 'false', 0.9, 'Faraza', 'Ahmed']

arr1=arr.pop(5)
print(arr1)

false

In [32]:
arr1[5]="true"
print(arr1)

['Ali', 'Haider', 'Raza', 'Salman', 25, 'true', 0.9, 'Faraza', 'Ahmed']

In [34]:
arr2=arr1[2:7]
print(arr2)

[25, 'true', 0.9]

In [35]:
arr1=['Ali', 'Haider', 'Raza', 'Salman', 25, 'true', 0.9, 'Faraza', 'Ahmed']
arr2=arr1[2 : 7]
print(arr2)

['Raza', 'Salman', 25, 'true', 0.9]

In [36]:
arr1

['Ali', 'Haider', 'Raza', 'Salman', 25, 'true', 0.9, 'Faraza', 'Ahmed']

In [37]:
arr3=arr[:5]
print(arr3)

['Ali', 'Haider', 'Raza', 'Salman', 25]

In [38]:
del arr[1]
print(arr)

['Ali', 'Raza', 'Salman', 25, 'false', 0.9]

In [44]:
arr=['Ali', 'Raza', 'Salman', 25, 'false', 0.9]
arr.remove("Salman")
print(arr)

['Ali', 'Raza', 25, 'false', 0.9]

In [46]:
arr

['Ali', 'Haider', 'Salman', 25, 'false', 0.9, 'umer']

In [47]:
del arr[1]
print(arr)

['Ali', 'Salman', 25, 'false', 0.9, 'umer']

In [49]:
arr4=arr.pop(1)
print(arr4)

Salman

In [4]:
arr = ['Ali', 'Haider', 'Raza', 'Salman', 25, 'true', 0.9, 'Faraza', 'Ahmed']
arr.insert(0,arr.pop(1))
print(arr)

['Haider', 'Ali', 'Raza', 'Salman', 25, 'true', 0.9, 'Faraza', 'Ahmed']