In [1]:
tp=('ali','raza','ahmed')
print(tp)

('ali', 'raza', 'ahmed')

In [2]:
val1 =int(input('Enter the first value'))
val2 =int(input('Enter the second value'))
operator =input('Enter the operator')
if operator == '+' :
    val = val1 + val2
    print(val,'answer')
elif operator == '-' :
    val = val1 - val2
    print(val,'answer')
elif operator == '/' :
    val = val1 / val2
    print(val,'answer')
elif operator == '*' :
    val = val1 * val2 
    print(val,'answer')
else :
    print('Enter correct operator')

Enter the first value22
Enter the second value5
Enter the operator+
27 answer

In [3]:
cleanest_cities = ["Cheyenne", "Santa Fe", "Tucson",
"Great Falls", "Honolulu","lahore"]
city_to_check = "lahore"
for a_clean_city in cleanest_cities:
    if city_to_check == a_clean_city:
        print("It's one of the cleanest cities")
        break
    else :
            print("nothing")

nothing
nothing
nothing
nothing
nothing
It's one of the cleanest cities

In [4]:
cleanest_cities = ["Cheyenne", "Santa Fe", "Tucson","Great Falls", "Honolulu"]
for a_clean_city in cleanest_cities:
    print(a_clean_city)

Cheyenne
Santa Fe
Tucson
Great Falls
Honolulu

In [5]:
cleanest_cities = ["Cheyenne", "Santa Fe", "Tucson","Great Falls", "Honolulu"]
val =input("Enter city")
for a in cleanest_cities:
    if val == a:
        print("city is clean")
    else:
        print("not clean")

Enter cityTucson
not clean
not clean
city is clean
not clean
not clean

In [6]:
first_names = ["BlueRay ", "Upchuck ", "Lojack ","Gizmo ", "Do-Rag "]
last_names = ["Zzz", "Burp", "Dogbone", "Droop"]
full_names = []
for a_first_name in first_names:
    for a_last_name in last_names:
        full_names.append(a_first_name + " " +a_last_name)
print(full_names)

['BlueRay  Zzz', 'BlueRay  Burp', 'BlueRay  Dogbone', 'BlueRay  Droop', 'Upchuck  Zzz', 'Upchuck  Burp', 'Upchuck  Dogbone', 'Upchuck  Droop', 'Lojack  Zzz', 'Lojack  Burp', 'Lojack  Dogbone', 'Lojack  Droop', 'Gizmo  Zzz', 'Gizmo  Burp', 'Gizmo  Dogbone', 'Gizmo  Droop', 'Do-Rag  Zzz', 'Do-Rag  Burp', 'Do-Rag  Dogbone', 'Do-Rag  Droop']

In [7]:
a=5
c=10
b=str(a+c)
print(b)

15

In [8]:
a=5
c=10
b=str(a)+str(c)
print(b)

510

In [9]:
a = "ali"
print(a.title())

Ali

In [10]:
numeric_values =[2,5,442,83,8,9,7]
check_numeric_value_exist = 8
for number in numeric_values:
    if check_numeric_value_exist == number:
        print("Numeric Value Exist")
        break
    else :
        print("Numeric Value Not Exist")

Numeric Value Not Exist
Numeric Value Not Exist
Numeric Value Not Exist
Numeric Value Not Exist
Numeric Value Exist

In [11]:
customer = {"first name" : "David","last name" : "raza","address" : "87867 karachi"}
print(customer["address"])

87867 karachi

In [19]:
#Q4sum all numeric items
dict={'key1': 'karachi', 'key2': 'Lahore', 'key3': 'Islamabad','key4': 8, 'key5': 5,'key6': 9}
sum = 0
for a in dict.values():
    if type(a) == int:
        sum += a
        print(sum)

8
13
22

In [17]:
#Q4sum all numeric items
dict={'key1': 'karachi', 'key2': 'Lahore', 'key3': 'Islamabad','key4': 8, 'key5': 5,'key6': 9}
sum = 0
for a in dict.values():
    if type(a) == int:
        sum = sum + a
        print(sum)

8
13
22

In [20]:
a=[1,4,6,6,8,9,9]
rng = len(a)
repeated =[]
for i in range(rng):
    b = i + 1
    for c in range(b,rng):
        if a[i] == a[c] and a[i] is not in  repeated :
            repeated.appen(a[i])
            print(repeated)

SyntaxError: invalid syntax (<ipython-input-20-c28c68bc8525>, line 7)

In [21]:
def unique_list(list):
    uniq_list = []
    uniq_set = set()
    for item in list:
       if item not in uniq_set:
            uniq_list.append(item)
            uniq_set.add(item)
    return uniq_list
 
list = [10,20,30,10,10,30,40,50]
print(unique_list(list))

[10, 20, 30, 40, 50]

In [22]:
rankings = {
5
: "Finland", 
2
: "Norway", 
3
: "Sweden",
7
: "Iceland"}
print(rankings[5])

Finland

In [24]:
customer = {"first name" : "David","last name" : "raza","address" : "87867 karachi"}
print(customer)
customer["income"]= "98 Thousand"
print(customer)

{'first name': 'David', 'last name': 'raza', 'address': '87867 karachi'}
{'first name': 'David', 'last name': 'raza', 'address': '87867 karachi', 'income': '98 Thousand'}

In [25]:
customer = {"first name" : "David","last name" : "raza","address" : "87867 karachi"}
customer["first name"]= "Ali"
print(customer["first name"])

Ali

In [26]:
customer = {"first name" : "David","last name" : "raza","address" : "87867 karachi"}
del customer["first name"]
print(customer)

{'last name': 'raza', 'address': '87867 karachi'}

In [27]:
customer = {"first name" : "David","last name" : "raza","address" : "87867 karachi"}
del customer["first name"]
print(customer)

{'last name': 'raza', 'address': '87867 karachi'}

In [28]:
customer = {"first name" : "David","last name" : "raza","address" : "87867 karachi",5: "Finland", 
            2: "Norway", 3 : "Sweden",7: "Iceland"}
for a in customer.values():
    print(a)

David
raza
87867 karachi
Finland
Norway
Sweden
Iceland

In [29]:
customer = {"first name" : "David","last name" : "raza","address" : "87867 karachi",5: "Finland", 
            2: "Norway", 3 : "Sweden",7: "Iceland"}
for a in customer.keys():
    print(a)

first name
last name
address
5
2
3
7

In [33]:
customer = {"first name" : "David","last name" : "raza","address" : "87867 karachi",5: "Finland", 
            2: "Norway", 3 : "Sweden",7: "Iceland"}
for a_key in customer.keys():
    print(a_key)
for a_value in customer.keys():
    print(a_value)

first name
last name
address
5
2
3
7
first name
last name
address
5
2
3
7

In [36]:
customer = {"first name" : "David","last name" : "raza","address" : "87867 karachi",5: "Finland", 
            2: "Norway", 3 : "Sweden",7: "Iceland"}
for each_key,each_value in customer.items():
    print("The customer  " + str(each_key) + " is " +
str(each_value))

The customer  first name is David
The customer  last name is raza
The customer  address is 87867 karachi
The customer  5 is Finland
The customer  2 is Norway
The customer  3 is Sweden
The customer  7 is Iceland