In [1]:
import pandas as pd
frame11 = pd.DataFrame({
    "day":[1,2,3,4,5],
    "temparature":[20,10,15,18,16],
    "wind speed":[30,40,45,35,50],
    "rainy":[True,False,False,True,False]
})#dictionary ma array put kiya tha
frame11

   day  temparature  wind speed  rainy
0    1           20          30   True
1    2           10          40  False
2    3           15          45  False
3    4           18          35   True
4    5           16          50  False

In [1]:
import pandas as pd
frame14 = pd.read_csv('C:\Users\ws\Documents\Book2.csv')
frame14

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (<ipython-input-1-94b10b59e34a>, line 2)